HeadNode: 
  CustomActions: 
    OnNodeConfigured: 
      Script: "s3://S3_BUCKETNAME/run-on-headnode.sh"
  Iam: 
    S3Access: 
      - BucketName: S3_BUCKETNAME
  InstanceType: r6i.large 
  Networking: 
    AdditionalSecurityGroups: 
      - SECURITYGROUP_RSW
    SubnetId: SUBNETID
  Ssh: 
    KeyName: KEY 
  LocalStorage:
    RootVolume:
      Size: 100 
Image: 
  Os: ubuntu2004
  CustomAmi: ami-055962f6fdc782d0b
Region: REGION
Scheduling: 
  Scheduler: slurm
  SlurmQueues: 
    - Name: all 
      ComputeResources: 
        - Name: rstudio
          InstanceType: m6i.2xlarge
          MaxCount: 5
          MinCount: 0 
          Name: rstudio
      CustomActions: 
        OnNodeConfigured: 
          Script: "s3://S3_BUCKETNAME/install-compute.sh" 
      Iam: 
        S3Access: 
          - BucketName: S3_BUCKETNAME
      Networking: 
        SubnetIds: 
          - SUBNETID
    - Name: memory 
      ComputeResources: 
        - Name: memory
          InstanceType: r6i.8xlarge
          MaxCount: 5
          MinCount: 0 
      CustomActions: 
        OnNodeConfigured: 
          Script: "s3://S3_BUCKETNAME/install-compute.sh" 
      Iam: 
        S3Access: 
          - BucketName: S3_BUCKETNAME
      Networking: 
        SubnetIds: 
          - SUBNETID
    - Name: compute
      ComputeResources:
        - Name: compute
          InstanceType: c6i.4xlarge
          MaxCount: 5
          MinCount: 0
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/install-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: TRUE
        SubnetIds: 
          - SUBNETID
    - Name: gpu 
      ComputeResources:
        - Name: gpu 
          InstanceType: p3.2xlarge 
          MaxCount: 5
          MinCount: 0
          Name: gpu
      CustomActions:
        OnNodeConfigured:
          Script: "s3://S3_BUCKETNAME/install-compute.sh"
      Iam:
        S3Access:
          - BucketName: S3_BUCKETNAME
      Networking:
        PlacementGroup:
          Enabled: TRUE
        SubnetIds: 
          - SUBNETID

Tags:
  - Key: rs:environment
    Value: development
  - Key: rs:owner
    Value: devin.pastoor@rstudio.com
  - Key: rs:project
    Value: solutions 
